.App {
  text-align: center;
}

.center {
display:flex;
justify-content:center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.control {
  margin: 20px;
  padding: 10px;
}
.input-block-level{
  padding: .5rem; 
  -webkit-appearance:none;
  -moz-appearance:none;
  border-style:solid;
  border-width:1px ;
  background-color:white;
  color:black;
  width: 100%;
  margin-top: 0.5rem;
  margin-top: 0.5rem;
  width: 60%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
