.Tilt {
	width: 700px;
	background-color:rgba(204, 160, 166, 1);
	background-image: radial-gradient(closest-side, transparent 98%, rgba(204, 160, 166, 1) 99%),
	radial-gradient(closest-side, transparent 9%, rgba(204, 160, 166, 1) 91%);
	background-size:80px 80px;
	background-position:0 0, 40px 40px;
}

.bar {
	width: 700px;
	background-color:rgba(232, 212, 215, 1);
	background-size:80px 80px;
	background-position:0 0, 40px 40px;
}